/* /////////////////////////  Polices  ///////////////////////////// */

@font-face{
    font-family: SuezOne;
    src: url('../Fonts/SuezOne-Regular.ttf');
}

@font-face{
    font-family: FugazOne;
    src: url('../Fonts/FugazOne-Regular.ttf');
}

@font-face{
    font-family: Fredoka;
    src: url('../Fonts/Fredoka.ttf');
}

@font-face{
    font-family: Nunito;
    src: url('../Fonts/Nunito/Nunito-Regular.ttf');
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////  RESPONSIVE POUR PC ///////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

@media (min-width:1530px) and (max-width: 1920px){
/*/////////////////////////  corp  ///////////////////////////////// */
/*mise en page*/
body{
    background-color: #080808;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
}

/* Grille de la page */
.page{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 4em auto; /* 4em taille de la priemere ligne */
}

/*Flex pour centrer le head page*/
.page>div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    
}

/* container titre */
.page>.titre{             
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    background: linear-gradient(to left, rgba(177, 201, 209, 1), rgba(42, 113, 145, 1));
    margin-right: 1em;
    font-family: SuezOne; 
    font-size:2em;
}

/*/////////////////////////// ecranMenu /////////////////////////// */  

/*Position Ecran Menu + Mise en page */
.page>.ecranMenu{               
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 700px;
    
}
    /* Taille Logo */
    .bouton{
        max-width: 10em;
    }

    /*police des boutons*/
    .ecranMenu>div{
        font-family: SuezOne;
    }

    .ecranMenu>div>p{
        font-size: 1.3em;
        max-height: 28px;
        margin-top: -1em;
    }

    /* position Fond ecran princ */
    .ecranMenu>.fondEcran{ 
        grid-row: 1 /  5;
        grid-column: 1 / 4;
    }

    /* boutonprofil */
    .boutonProfil{ 
        grid-row: 1;
        grid-column:1;
    }

    /*bouton Diplomes/certificats */
    .boutonDiplomes{
        opacity: 30%;
        grid-row: 1;
        grid-column: 2;
    }

    /* bouton Parcours PRO */
    .boutonParcoursPro{
        opacity: 30%;
        grid-row: 1;
        grid-column: 3;
    }

    /*bouton Competences */
    .boutonCompetences{
        opacity: 30%;
        grid-row: 2;
        grid-column: 1;
    }

    /* bouton Qualités */
    .boutonQualités{ 
        opacity: 30%;
        grid-row: 2;
        grid-column: 2;
    }

    /*bouton Loisirs */
    .boutonLoisirs{
        opacity: 30%;
        grid-row: 2;
        grid-column: 3;
    }

    /* bouton Contact */
    .boutonContact{ 
        grid-row: 3 ;
        grid-column: 1;
    }

    /*bouton Projet*/
    .boutonMesProjets{
        grid-row: 3;
        grid-column: 2;
    }

    /* bouton CV */
    .boutonMonCV{ 
        grid-row: 3;
        grid-column: 3;
    }

    /*bouton Home*/
    .boutonHome{
        grid-row: 4;
        grid-column: 2;
    }

    /* Fond ecran princ */
    .fondEcran img{  
        height: 100%;
        width: 100%;
        min-width: 700px;
        border-radius: 2em;
    }

/*////////////////////////////// ecranSecond///////////////////////////// */    

.page>.ecranSecond{         
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 0.2fr 1.5fr 0.6fr;
    grid-template-columns: auto;
    min-width: 700px;  
}

.ecranSecond>.fondEcran{
    grid-column: 1;
    grid-row: 1/4;
}

.marquePageTelephone{
    grid-column: 1;
    grid-row: 1;
    font-family: SuezOne;
    font-size: 3vw ;
    text-shadow:-1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
   -1px  1px 0 #ffffff,
    1px  1px 0 #ffffff;
}

.textProfil{
    grid-column: 1;
    grid-row: 2;
    
}

.textProfil>p{
    margin-right: 2em;
    margin-left: 2em;
    text-align : justify;
    font-size: 1.5vw;
    font-family: Fredoka;
    border: #ffffff6b;
    color: #0e0e0e;
    background: #ffffff42;
    border-style: solid;
    border-radius: 1em;
    padding : 1em;
}

.boutonHome2{
    grid-column: 1;
    grid-row: 3;
}

.boutonMenu{
    width: 10vw;
}
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// RESPONSIVE POUR TELEPHONE ////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

@media(max-width: 1530px){
    /*/////////////////////////  corp  ///////////////////////////////// */
    /*mise en page*/
    body{
        max-width: 100%;
        background-color: #080808;
        background-image: url(../Objets/Fond\ Ecran\ secondaireFond\ Ecran\ portfolio.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    /* Grille de la page */
    .page{
        display: grid;
        grid-template-rows: auto; /* 4em taille de la priemere ligne */
    }
    
    /* container titre */
    .page>.titre{             
        font-family: SuezOne; 
        font-size:1.3em;
        text-shadow:-1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
       -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
        text-align: center;
    }
    
    /*Position Ecran Menu + Mise en page */
    .page>.ecranMenu{               
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        min-width: 700px;
    }
        /* Taille Logo */
        .bouton{
            max-width: 10em;
        }
    
        /*police des boutons*/
        .ecranMenu>div{
            font-family: SuezOne;
        }
    
        .ecranMenu>div>p{
            font-size: 1.3em;
            max-height: 28px;
            margin-top: -1em;
            margin-bottom: 3em;
        }
    
        /* position Fond ecran princ */
        .ecranMenu>div:nth-child(1){ 
            display: none;
        }
    
        /* boutonprofil */
        .boutonProfil{ 
            grid-row: 1;
            grid-column:1;
        }
    
        /*bouton Diplomes/certificats */
        .boutonDiplomes{
            opacity: 30%;
            grid-row: 1;
            grid-column: 2;
        }
    
        /* bouton Parcours PRO */
        .boutonParcoursPro{
            opacity: 30%;
            grid-row: 1;
            grid-column: 3;
        }
    
        /*bouton Competences */
        .boutonCompetences{
            opacity: 30%;
            grid-row: 2;
            grid-column: 1;
        }
    
        /* bouton Qualités */
        .boutonQualités{ 
            opacity: 30%;
            grid-row: 2;
            grid-column: 2;
        }
    
        /*bouton Loisirs */
        .boutonLoisirs{
            opacity: 30%;
            grid-row: 2;
            grid-column: 3;
        }
    
        /* bouton Contact */
        .boutonContact{ 
            grid-row: 3 ;
            grid-column: 1;
        }
    
        /*bouton Projet*/
        .boutonMesProjets{
            grid-row: 3;
            grid-column: 2;
        }
    
        /* bouton CV */
        .boutonMonCV{ 
            grid-row: 3;
            grid-column: 3;
        }
    
        /*bouton Home*/
        .boutonHome{
            grid-row: 4;
            grid-column: 2;
        }
    
    /* desactivation de la balise div ecran second et du marque page */
    .ecranSecond{
        display: none !important;
    }
    .marquePage{
        display: none !important;
    }
}