/* /////////////////////////  Polices  ///////////////////////////// */

@font-face{
    font-family: SuezOne;
    src: url('../Fonts/SuezOne-Regular.ttf');
}

@font-face{
    font-family: FugazOne;
    src: url('../Fonts/FugazOne-Regular.ttf');
}

@font-face{
    font-family: Fredoka;
    src: url('../Fonts/Fredoka.ttf');
}

@font-face{
    font-family: Nunito;
    src: url('../Fonts/Nunito/Nunito-Regular.ttf');
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////  RESPONSIVE POUR PC ///////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

@media (min-width:1530px) and (max-width: 1920px){
/*/////////////////////////  corp  ///////////////////////////////// */
/*mise en page*/
body{
    background-color: #080808;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
}

/* Grille de la page */
.page{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 4em auto; /* 4em taille de la priemere ligne */
}

/*Flex pour centrer le head page*/
.page>div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    
}

/* container titre */
.page>.titre{             
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background: linear-gradient(to left, rgba(177, 201, 209, 1), rgba(42, 113, 145, 1));
    margin-right: 1em;
    font-family: SuezOne; 
    font-size:2em;
}

/* Container marquePage */     
.page>.marquePage{                         
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background: linear-gradient(to left, rgba(249, 145, 142, 1), rgb(194, 206, 202));
    font-family: FugazOne;
    font-size: 2em;
}

/*/////////////////////////// ecranMenu /////////////////////////// */  

/*Position Ecran Menu + Mise en page */
.page>.ecranMenu{               
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 700px;
    
}
    /* Taille Logo */
    .bouton{
        max-width: 10em;
    }

    /*police des boutons*/
    .ecranMenu>div{
        font-family: SuezOne;
    }

    .ecranMenu>div>p{
        font-size: 1.3em;
        max-height: 28px;
        margin-top: -1em;
    }

    /* position Fond ecran princ */
    .ecranMenu>.fondEcran{ 
        grid-row: 1 /  5;
        grid-column: 1 / 4;
    }

    /* boutonprofil */
    .boutonProfil{ 
        grid-row: 1;
        grid-column:1;
    }

    /*bouton Diplomes/certificats */
    .boutonDiplomes{
        opacity: 30%;
        grid-row: 1;
        grid-column: 2;
    }

    /* bouton Parcours PRO */
    .boutonParcoursPro{
        opacity: 30%;
        grid-row: 1;
        grid-column: 3;
    }

    /*bouton Competences */
    .boutonCompetences{
        opacity: 30%;
        grid-row: 2;
        grid-column: 1;
    }

    /* bouton Qualités */
    .boutonQualités{ 
        opacity: 30%;
        grid-row: 2;
        grid-column: 2;
    }

    /*bouton Loisirs */
    .boutonLoisirs{
        opacity: 30%;
        grid-row: 2;
        grid-column: 3;
    }

    /* bouton Contact */
    .boutonContact{ 
        grid-row: 3 ;
        grid-column: 1;
    }

    /*bouton Projet*/
    .boutonMesProjets{
        grid-row: 3;
        grid-column: 2;
    }

    /* bouton CV */
    .boutonMonCV{ 
        grid-row: 3;
        grid-column: 3;
    }

    /*bouton Home*/
    .boutonHome{
        grid-row: 4;
        grid-column: 2;
    }

    /* Fond ecran princ */
    .fondEcran img{  
        height: 100%;
        width: 100%;
        min-width: 700px;
        border-radius: 2em;
    }

/*////////////////////////////// ecranSecond///////////////////////////// */    

.page>.ecranSecond{         
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 0.5fr 0.1fr 0.7fr 0.5fr; 
}

.ecranSecond>.fondEcran{
    grid-column: 1;
    grid-row: 1/6;
}

.marquePageTelephone{
    grid-column: 1;
    grid-row: 1;
    font-family: SuezOne;
    font-size: 2.5vw;
    text-shadow:-1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
       -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

.containerVideoPhotoProjet{
    grid-row: 2;
    grid-column: 1;
}

.containerVideoPhotoProjet>video{
    max-width: 40vw;
}

.ContaineCompetencesApp{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 1;
    margin-top: 1em;
}

.premiereCompetence{
    max-width: 12vw;
}

.secondeCompetence{
    max-width: 6vw;
}


.textProfil{
    grid-column: 1;
    grid-row: 4;
}

.textProfil>p{
    margin-right: 2em;
    margin-left: 2em;
    text-align : justify;
    font-size: 1.5vw;
    font-family: Fredoka;
    border: #ffffff6b;
    color: #0e0e0e;
    background: #ffffff42;
    border-style: solid;
    border-radius: 1em;
    padding : 1em;
}

.menu{
    grid-row: 5;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecheGauche{
    scale: 2vw;
    margin-right: 2em;
}

.flecheDroite{
    scale: 2vw;
    margin-left: 2em;
}

.boutonMenu{
    width: 10vw;
}

}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// RESPONSIVE POUR TELEPHONE ////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

@media(max-width: 1530px){
    /*/////////////////////////  corp  ///////////////////////////////// */
    /*mise en page*/
    body{
        max-width: 100%;
        background-color: #080808;
        background-image: url(../Objets/Fond\ Ecran\ secondaireFond\ Ecran\ portfolio.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*recuperation ecran second pour telephone*/
    .ecranSecond{
        display: grid;
        grid-template-rows: 0.6fr 0.8fr 0.4fr 0.5fr 0.5fr;
        grid-template-columns: auto;
        text-align: center;
        align-items: center;
    }

    /*titre sur telephone*/
    .marquePageTelephone{
        grid-row: 1;
        font-family: SuezOne;
        font-size: 5vw;
        text-shadow:-1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
       -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
    }

    .containerVideoPhotoProjet{
        grid-row: 2;
    }

    .containerVideoPhotoProjet>video{
        max-width: 80%;
    }

    .ContaineCompetencesApp{
        grid-row: 3;
    }

    .premiereCompetence{
        max-width: 30%;
    }

    .secondeCompetence{
        max-width: 17%;
    }

    /*text page profil*/
    .textProfil{
        grid-row: 4;
        margin-left: 2em;
        margin-right: 2em;
        font-family: Fredoka;
        font-size: 3vw;
        text-align: justify;
        border: #ffffff6b;
        color: #0e0e0e;
        background: #ffffff42;
        border-style: solid;
        border-radius: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .menu{
        grid-row: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flecheGauche{
        margin-right: 2em;
    }

    .flecheDroite{
        margin-left: 2em;
    }
    
    /*position icone home*/
    .boutonHome2{
        grid-row: 3;
    }

    /*modification taille icone home*/
    .boutonMenu{
        width: 25vw;
        max-width: 150px;
    }

    .boutonFleche{
        max-width: 75px;
    }


    /*supression de plusieur balise*/
    .boutonHome2>p{
        display: none !important;
    }
    .fondEcran{
        display: none !important;
    }
    .titre{
        display: none !important;
    }
    .marquePage{
        display: none !important;
    }
    .ecranMenu{
        display: none !important;
    }
}